body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    border-radius: 10px; /* Rounded corners for the entire popup */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for popup */
    overflow: hidden; /* Ensure content stays within rounded corners */
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}

#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#shortcutsList {
    list-style-type: none;
    padding-left: 0;
    width: 80%;
    max-width: 600px; /* Reduced width */
    margin: 20px auto;
}

#shortcutsList li {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; /* Rounded corners for elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden; /* Ensure text does not overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit to 5 lines */
    -webkit-box-orient: vertical;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#shortcutsList li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

/* Dodane właściwości CSS */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Zapewnia, że długie słowa będą łamane */
    overflow: hidden; /* Ukrywa nadmiar tekstu */
}

th {
    background-color: #f2f2f2;
}

table, th, td {
    border-radius: 8px;
}

td {
    max-width: 200px; /* Ustaw maksymalną szerokość komórek */
}

#shortcutsList {
    margin-bottom: 20px; /* Dodaje odstęp na dole listy */
}
